---
import ContentPage from '../../components/ContentPage.astro'
import SponsorsSection from '../../components/SponsorsSection.astro'
import SubscribeButton from '../../components/SubscribeButton.astro'
import { ctx } from '../../models/ChallengeContext'
---
<ContentPage>
    <article class="rules-article">

        <h2>bases #ec {ctx.year}</h2>
            <h3>Convocatoria</h3>
            <p>La Seremi Energía Valparaíso invita a los establecimientos educacionales de enseñanza básica y media, 
                en lo sucesivo establecimientos educacionales, de la región a participar 
                del concurso estudiantil #EnergyChallenge.</p>
            
    
            <SubscribeButton/>
         
      
            <p class="quote highlights">
                El concurso busca capacitar sobre el uso eficiente de la energía y las energías
                renovables a la comunidad educativa de los establecimientos educacionales de la región de Valparaíso.
            </p>

            <h3>
                Qué es y qué hacemos
            </h3>
            <p>
                #EnergyChallenge es un concurso estudiantil que busca inculcar el <bold>buen uso de la energía</bold> 
                en todos los establecimientos de la región de Valparaíso, premiando a los colegios que logren mayor 
                eficiencia energética en un periodo de tiempo de <bold>30 días</bold>.
            </p>
            <h3>
                Auspiciadores

            </h3>
            <p>
               Este concurso se desarrolla gracias al esfuerzo conjunto entre el sector público 
               y el sector privado, aportando un invaluable apoyo de los premios
               
            </p>
            <SponsorsSection/>
            <p>
                Agradecemos profundamente la colaboración de los 
                auspiciadores, ya que sin ellos, este concurso no sería posible.
            </p>

            <h3>Los Premios</h3>
            <p>Para motivar a estudiantes y profesores , el concurso tiene fabulosos premios para el colegio competidor: </p>

            <section class="podium">
                <div>

                    <h4>🥇 1er Lugar</h4>
                    <p>Laboratorio Solar Fotovoltaico de <bold>4 módulos</bold> Educativos Solares.</p>
                </div>
                <div>
                    <h4>🥈2do Lugar</h4>
                    <p>Mini Laboratorio Solar Fotovoltaico <bold>2 módulos</bold> solares Educativos</p>
                </div>
                <div>
                    <h4>🥉3er Lugar</h4>
                    <p>Mini Laboratorio Solar Fotovoltaico <bold>1 módulo</bold> solar Educativo</p>
                </div>
                <div>
                    <h4>🏅Bono Territorial</h4>
                    <p>Mini laboratorio Solar Fotovoltaico con <bold>1 módulo solar</bold>, si tu colegio competidor, 
                        no se encuentra en el podio, y  es el mejor ahorro entre las comunas de:
                    </p>
                    <p>
                        Petorca, Cabildo, La Ligua, Zapallar, Papudo y Viña del Mar y <bold>tengan boleta CGE</bold>.
                    </p>
                </div>
            </section>
            <p class="quote highlights">Los premios <bold>pueden aumentar</bold> durante el desarrollo del concurso.</p>

             <h3> Ganadores 🏆</h3>
             <p>
                Los Ganadores se seleccionarán a partir del ranking la
                diferencia porcentual del consumo energético del periodo base y el periodo de evaluación, 
                en orden descendiente, con respecto a la siguiente formula:
             </p>

             <article class="formula">
                <div class="left">
                    ahorro [%] =
                </div>
                <div class="center">
                100
                </div>
                <div class="center">
                x
                </div>
                <div class="right">
                    <p>Energía<span>base</span> - Energía<span>competencia</span></p>
                    <hr>
                    <p>Energía<span>base</span></p>

                </div>
             </article>
             <p>
                Serán considerados candidatos 
                válidos al podio de ganadores solamente los ahorros calculados <bold style="color:greenyellow">positivos(+)</bold>. 
                Los valores <bold style="color:orangered">negativos(-)</bold> se considerarán como incremento del consumo, y quedarán automaticamente descalificados.
             </p>
             <p>
                En el caso de “empate técnico” se utilizará todos los decimales 
                necesarios de la fórmula para dirimir y establecer los ganadores. El último colegio ganador ganó por 0.001% ¡cada miliwatt cuenta!
             </p>

            <h3>Establecimientos admitidos</h3>
            <p>
                Podrán participar en este concurso estudiantil regional, todos los establecimientos educacionales de la Región de Valparaíso 
                que cuenten con <bold>educación básica y/o educación media</bold>, ya sean Colegios, Escuelas, Liceos, etc.
            </p>
            <p class="quote highlights">
                El concurso busca beneficiar al máximo de participantes, <bold>no podrán 
                participar</bold> aquellos establecimientos que hayan sido <bold>ganadores del 1er lugar</bold> 
                en concursos #EnergyChallenge de años anteriores.
            </p>
            <h3>
            Periodos de evaluación energética 
            </h3>
            <p>
                El presente concurso premiará al colegio con mayor ahorro energético entre los siguientes periodos.
            </p>
            <h4>
                ⚡Energía en COMPETENCIA
            </h4>
            <p>
            Corresponde al consumo eléctrico en kiloWatts-hora, hecho por un periodo de <bold>31 días</bold>. 
            Dicho tiempo igual para todos, será durante en el cuál los colegios competirán para ver quién genera mayor ahorro energético.
            El periodo de esta versión será la siguiente :  
            </p>
            <p class="quote highlights">
                lectura desde <bold>agosto de {ctx.year}</bold> hasta <bold>septiembre de {ctx.year}</bold>
            </p>
            <p>
                El día de agosto en el cuál comenzarán con dicho periodo de <bold>31 días</bold>, será el día correspondiente al <bold>día de lectura</bold> de la boleta eléctrica. El cuál,
                puede ser los días 1ro, 5, 15, 21, según lo dictamine la boleta eléctrica.
            </p>

            <h4>
                ⚡Energía BASE
            </h4>
            <p>
                Corresponde al consumo eléctrico en kiloWatts-hora que se utilizará como referente de comparación de los ahorros energéticos. La boleta de consumo corresponderá al periodo de:
            </p>
            <p class="quote highlights">
                lectura desde <bold>agosto de {ctx.year-1}</bold> hasta <bold>septiembre de {ctx.year-1}</bold>
            </p>
            <p class="quote important">
                El periodo de <bold>lectura</bold> generalmente corresponde al mes anterior a la fecha de <bold style="color:yellow">facturación</bold>. 
                Es decir, para las <bold>lecturas</bold> de agosto de {ctx.year-1}, se deben considerar las boletas <bold style="color:yellow">facturadas</bold> en septiembre de {ctx.year-1}.
                <br>Asimismo, también se aceptarán como boletas de agosto aquellas cuya fecha de lectura sea 31 de julio*, ya que la mayor parte de su consumo registrado corresponde a días del mes de agosto.
            </p>
            <p>
                En caso de boletas a presentar como <bold>energía base</bold> tenga una lectura por más de 31 días,
                se calculará un consumo de energía proporcional de agosto basados en el consumo medio, basados en la siguiente fórmula.
            </p>
            <article class="formula">
                <div class="left">
                    Energía<span>prop</span> [kWh] = 
                </div>
                <div class="right">
                    <p>Energía<span>base</span> x Días<span>mes (ej:31)</span></p>
                    <hr>
                    <p>Días<span>lectura (ej:60,90)</span></p>
                </div>
            </article>

            <h4>Atención participantes #EC anteriores</h4>
            <p>
            ¿Qué pasa si mi colegio participó antes ejecutando acciones horro energético de #energychallenge anterior?
            <bold>¿Eso no afecta mi capacidad de ahorro energético del periodo actual?</bold>
            </p>
            <p style="color:orange;font-size:1.1rem;">Respuesta: SI 😱</p>
            <br>
            <p>
                Para solucionar esta  "desventaja", todos los establecimientos que participaron en #EC e <bold>implementaron</bold> un 
                <a class="innerlink" href="/plan">Plan de Acción Energético</a> en 
                #EnergyChallenge anteriores, pueden opcionalmente presentar 
                como ⚡Energía BASE los consumos eléctricos del año inmediatamente anterior o el año inmediatamente 
                posterior a dicho periodo de implementación del <a class="innerlink" href="/plan">Plan de Acción Energético</a>
            </p>
            <br>
            <p>Veamos algunos casos reales</p>
            <table cellspacing="1" cellpadding="2">
                <thead>
                    <tr><td>caso</td><td>implementa Plan</td> <td>qué boletas es admisible</td></tr>
                </thead>
                <tbody>
                    <tr><td>Si participó sólo en #ec{ctx.year-2}</td><td>si</td><td>puede presentar boletas {ctx.year-3} o boleta {ctx.year-1}</td></tr>
                    <tr><td>Si participó sólo en #ec{ctx.year-1}</td><td>si</td><td>puede presentar boletas {ctx.year-2}</td></tr>
                    <tr><td>Si participó en #ec{ctx.year-2} y #ec{ctx.year-1}</td><td>si</td><td>puede presentar boletas {ctx.year-3}</td></tr>
                </tbody>
            </table>
            <a class="button" href="/records" target="_blank">ver listado de participantes histórico</a>
            
           
            <h3> Etapas y Plazos 📅</h3>
            <p>
                Se estipulan los siguientes plazos de inscripción y su respectivos links.  Si la fecha cae fin de semana o feriados, se corre el plazo límite al siguiente día hábil, manteniendo la misma hora correspondiente:
            </p>
            <table>
                <thead>
                    <tr>
                        <td class="shrink">id</td>
                        <td>fecha</td>
                        <td class="shrink">hora</td>
                        <td>etapa</td>
                        <td>enlace</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="shrink">⭐</td>
                        <td>08 junio</td>
                        <td class="shrink">10:00</td>
                        <td>lanzamiento de #ec{ctx.year}</td>
                        <td><a href="https://tinyurl.com/ec-inscripcion" target="_blank" rel="noopener noreferrer"><span>inscripción</span></a></td>
                    </tr>
                    <tr>
                        <td class="shrink">🙊</td>
                        <td>29 junio</td>
                        <td class="shrink">18:00</td>
                        <td>plazo consultas</td>
                        <td><a href="mailto:EnergiaValpo@minenergia.cl?subject=#ec25%20%20consulta%20bases%20del%20concurso" target="_blank" rel="noopener noreferrer"><span>mensaje</span></a></td>
                    </tr>
                    <tr>
                        <td class="shrink">🔒</td>
                        <td>10 julio</td>
                        <td class="shrink">10:00</td>
                        <td>cierre inscripción</td>
                        <td><a href="https://tinyurl.com/ec-inscripcion" target="_blank" rel="noopener noreferrer"><span>inscripción</span></a></td>
                    </tr>
                    <tr>
                        <td class="shrink">🧠</td>
                        <td>24 julio</td>
                        <td class="shrink">10:00</td>
                        <td>plazo capacitación <a class="innerlink" href="/plan">Plan de Acción</a></td>
                        <td><span>por email</span></td>
                    </tr>
                    <tr>
                        <td class="shrink">✍️</td><td>31 julio</td>
                        <td class="shrink">23:59</td>
                        <td>plazos firma director(a)</td>
                        <td><a href="https://tinyurl.com/ec-autorizacion" target="_blank" rel="noopener noreferrer"><span>firmar</span></a></td>
                    </tr>
                    <tr>
                        <td class="shrink">📒</td>
                        <td>31 julio</td>
                        <td class="shrink">23:59</td>
                        <td>entrega de <a class="innerlink" href="/plan">Plan de Acción</a></td>
                        <td><a href="https://tinyurl.com/ec-plan" target="_blank" rel="noopener noreferrer"><span>reporta</span></a></td>
                    </tr>
                    <tr>
                        <td class="shrink">⚡</td>
                        <td>01 ago<br>30 sep</td>
                        <td class="shrink">_:_</td>
                        <td>competencia de <bold>Ahorro Energético</bold></td>
                        <td><a href="https://tinyurl.com/ec-plan" target="_blank" rel="noopener noreferrer"><span>reporta</span></a></td>
                    </tr>
                    <tr>
                        <td class="shrink">🪫</td>
                        <td>31 octubre</td>
                        <td class="shrink">23:59</td>
                        <td>plazo de reporte de <bold>Consumos Energéticos</bold></td>
                        <td><a href="https://tinyurl.com/ec-ahorros" target="_blank" rel="noopener noreferrer"><span>ahorros</span></a></td>
                    </tr>
                    <tr>
                        <td class="shrink">🏅</td><td>4 nov</td><td class="shrink">23:59</td><td>publicación de ranking</td><td><a href="/" target="_blank" rel="noopener noreferrer"><span>ganadores</span></a></td>
                    </tr>
                    <tr>
                        <td class="shrink">🏆</td><td>11,12,13 nov</td><td class="shrink">12:00</td><td>entrega de premios</td><td><a href="/" target="_blank" rel="noopener noreferrer"><span>por email</span></a></td>
                    </tr>

                </tbody>
            </table>

            <h3>
                Reserva de derechos
            </h3>
            <p>
                La Seremi de Energía de la Región de Valparaíso, en su función de apoyo al concurso, actúa como articuladora pública del concurso, y se reserva el derecho a:
                <br>1. Revocar el presente concurso llamado a convocatoria hasta el plazo de 120 días desde la fecha de lanzamiento del concurso , ya sea por fuerza mayor o caso fortuito, mediante comunicación pública al efecto.
                <br>2. Modificar las presentes bases en cualquier momento, antes de comenzar la fase de la competencia de ahorro, ya sea por iniciativa propia o en atención a una aclaración o consulta. La Organización evaluará las condiciones de aplicación de las modificaciones, considerando la naturaleza de estas, para ajustar los plazos de presentación si la situación lo amerita.
            </p>
            <h3>Difusión del concurso</h3>
            <p>La difusión del concurso se realizará mediante redes sociales, charlas de difusión en las provincias continentales de la región de Valparaíso y/o prensa.</p>
            <p>La institución ganadora del primer lugar será premiada en una ceremonia en su mismo establecimiento educacional.</p>
            <p>Los resultados serán exhibidos en redes sociales de las instituciones participantes organizadoras o colaboradoras, así como también en otros medios de comunicación escritos y/o digitales.</p>
            <a class="button"target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/EnergiaValpo/" style="background-color:#0b66f8;">facebook</a>
            <a class="button"target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/energiavalpo/" style="background: radial-gradient(circle at 0% 100%,#f1a006,#b206ea);">instagram</a>
            <p>
            Por otra parte, se señala que los datos entregados por las instituciones participantes serán utilizados exclusivamente para efectos de análisis y estudio de la SEREMI de Energía.  
            </p>

            <h3>
                Anexos
            </h3>
            <a class="button" href="/plan">Cómo realizar un plan de acción</a>
            <a class="button" href="/records">Registro Histórico de participantes </a>

            <h3>
                Album #EC El Desafío de Energía
            </h3>
            <p>La motivación es lo primordial para EnergyChallenge. Es por eso que hemos preparado
                playlist oficial de alto octanaje para promover el ahorro en tu establecimiento.</p>
            <p>Escucha el album💿</p>
            <a href="https://suno.com/playlist/120047db-7904-4e6a-b25d-a4b885a57bae" class="button" target="_blank" rel="noopener noreferrer" style="display: flex;align-items: center;gap:12px">
                <img height="100" src="https://cdn2.suno.ai/80fa45d4-3cae-47cd-b09b-3f7595ff296d_09d37125.jpeg"/>
                <p>
                    #ec💿 
                </p>
                <p>
                El Desafío de Energía
                </p>
            </a>
    


        </article>
</ContentPage>


