:root {
  --max-width: 1100px;
  --small-width: 756px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono',
    'Droid Sans Mono', 'Courier New', monospace;

  --primary: hsl(300, 61%, 35%);
  --secondary: hsl(172, 61%, 46%);
  --primary-background: hsl(256, 45%, 80%);
  --secondary-background: hsl(252, 38%, 95%);
  --background: radial-gradient(
    circle at top 25% left 50%,
    var(--primary-background) 0%,
    var(--secondary-background) 100%
  );
  --caption: hsl(0, 100%, 10%);
  --accent: hsl(197, 100%, 65%) (174, 0, 255);
  --shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  --curtain: radial-gradient(circle at top 10%, right 25%, white 0%, transparent 150%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #be2ebe;
    --secondary: #00ffdd;
    --primary-background: #21173d;
    --secondary-background: #0a0812;
    --caption: rgb(255, 255, 255);
    --accent: rgb(0, 183, 255) (174, 0, 255);
    --shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    --curtain: radial-gradient(circle at top 10%, right 25%, white 0%, transparent 150%);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  $test: solid 1px red;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  * {
    // border: solid 1px red;
  }

  > header {
    flex: 0 0 100px;
    display: flex;
    position: relative;
    padding: 10px;
    justify-content: space-between;
  }

  > main {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > footer {
    flex: 0 0 70px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
