<div id="flare"></div>

<style>
	#flare {
		position: absolute;
		/* border: 1px solid red; */
		top: 0;
		width: 100%;
		filter: hue-rotate(0deg);

		background:
			radial-gradient(ellipse at 0% 0%, #d413c4, transparent 70%),
			radial-gradient(ellipse at 100% 0%, #0ccfc2, transparent 70%);
		/* border: 1px solid blue; */
		animation: floating 6s ease-in-out infinite alternate-reverse;
	}
	@keyframes floating {
		from {
			height: 300px;
		}

		to {
			height: 400px;
			filter: hue-rotate(-60deg);
		}
	}
	@media screen and (max-width: 600px) {
		@keyframes floating {
			from {
				height: 100px;
			}

			to {
				height: 200px;
				filter: hue-rotate(-60deg);
			}
		}
	}
</style>
