---
import galactic from '../assets/galactic.mp4'
---
<div id="flare"></div>
<video id="galactic" src={galactic} autoplay loop muted></video>
<style>
	#flare {
		position: absolute;
		/* border: 1px solid red; */
		top: 0;
		width: 100vw;
		filter: hue-rotate(0deg);

		background:
			radial-gradient(ellipse at 0% 0%, #8a00fc, transparent 60% 70%),
			radial-gradient(ellipse at 100% 0%, #05d1ec, transparent 70%);
		/* border: 1px solid blue; */
		animation: floating 6s ease-in-out infinite alternate-reverse;
	}
	@keyframes floating {
		from {
			height: 600px;
		}

		to {
			height: 1000px;
			filter: hue-rotate(-22deg);
		}
	}
	@media screen and (max-width: 600px) {
		@keyframes floating {
			from {
				height: 100px;
			}

			to {
				height: 200px;
				filter: hue-rotate(-60deg);
			}
		}
	}
	#galactic{
		position:fixed;
		width: 100%;
		object-fit: cover;
		mask-image: radial-gradient(ellipse at center, #000000, transparent 70%);
		mask-size: cover;
		mask-repeat: no-repeat;
	}
</style>
