---
import { ctx } from "../models/ChallengeContext";
import ecMotion from "../assets/ec-loop.svg";
---

<section id="hero-logo-section"> 		<!-- <a href="http://tinyurl.com/ec-inscripcion"> -->
		<a href="#">
			<img id="hero-logo" src={ecMotion.src} alt="EnergyChallenge" />
		</a>
		<h1 id="year">
			{ctx.year}
		</h1>
</section>

<style>

#hero-logo-section {
	z-index: 0;
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#hero-logo{
		z-index: 0;
		animation: fadeIn 1s ease-in-out;
		opacity: 1;
		min-width: min(700px, 80dvw);
	}
	@keyframes fadeIn {
		from{
			opacity: 0;
			transform: translateY(20px);
			transform: scale(1.2);
		}
		to{
			opacity: 1;
			transform: translateY(0);
			transform: scale(1);
		}
	}

	#year {
		font-family: Roboto, Arial, sans-serif;
		position: absolute;
		font-size: 18rem;
		color: #fffdfd;
		margin: 0;
		padding: 0;
		z-index: -1;
		text-shadow: 0px 0px 10px #fff;
		/* filter: opacity(0.5); */
		opacity: 0.6;
		animation: flickering 1s ease-in-out;
		backdrop-filter: blur(5px);

	}
	@keyframes flickering {
		from{
			opacity: 0;
			transform: scale(.8);
		}
		to{
			opacity: 0.6;
			transform: scale(1);		
		}
	}

	@media screen and (max-width: 700px) {
		#hero-logo-section {
			#year {
				font-size: 7rem;
			}
		}
	}
</style>