<article class="planner">
	<p>apoya</p>
	<a href="https://www.instagram.com/energiavalpo/" target="_blank" rel="noopener noreferrer">
		<img src="https://scontent-scl3-1.cdninstagram.com/v/t51.82787-19/653956716_18309068866277849_5530581864471714411_n.jpg?stp=dst-jpg_s150x150_tt6&_nc_cat=104&ccb=7-5&_nc_sid=f7ccc5&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLnd3dy4xMDgwLkMzIn0%3D&_nc_ohc=MQMXL6L0TUUQ7kNvwG0pO7z&_nc_oc=AdqfGt9CvvyHMY2VIm_Sa0sj6V_uy-3JznGGkfqrscCbzIHzX5HZJVqOMnQtRcSIuHA&_nc_zt=24&_nc_ht=scontent-scl3-1.cdninstagram.com&_nc_gid=RxmWT82uo-ZPqXOBZHsGLw&_nc_ss=7b6a8&oh=00_Af55zo0eSrEXxmYxiOCuc2xsnhEdJu1h_bn8GtTUS9u8VQ&oe=6A19FD57" alt="Seremi Energía Valparaíso" />
		<h3>Seremi Energía <strong> Valparaíso </strong></h3>
	</a>
</article>

<style>
	.planner {
		a {
			text-decoration: none;
			display: flex;
			color: #999;
			h3 {
				font-weight: 400;
				font-family: Helvetica, Arial, sans-serif;
				margin: 0;
				padding-left: 8px;
				font-size: 1rem;
				width: 100px;
				word-wrap: break-word;
				/* border: 1px solid red; */
			}
		}
		p {
			color: #999;
			justify-self: center;
		}
		img {
			transition: all 0.2s ease-out;
			width: 60px;
			filter: brightness(1) grayscale(0.7);
			border-radius: 4rem;
		}
		img:hover {
			filter: brightness(1.2) grayscale(0);
		}
	}
</style>
