<article class="planner">
	<p>organiza</p>
	<a href="https://www.instagram.com/energiavalpo/" target="_blank" rel="noopener noreferrer">
		<img
			src="https://i.postimg.cc/pTFkxNCR/SEREMI-logo-sqr.png"
			alt="Seremi Energía Valparaíso"
		/></a
	>
</article>

<style>
	.planner {
		p {
			color: #555;
		}
		img {
			transition: all 0.2s ease-out;
			width: 100px;
			filter: brightness(1) grayscale(0.5);
		}
		img:hover {
			filter: brightness(1.2) grayscale(0);
		}
	}
</style>
