---
const { name, url, logo } = Astro.props
---
	<a class="sponsorCard" href={url}>
		<img class="sponsorLogo" src={logo} alt={name} />
	</a>
<style>
	.sponsorCard {
		/* border: 1px blue solid; */
		.sponsorLogo {
			width: 100px;
			height: 50px;
			filter: grayscale(.9) brightness(2);
			object-fit: contain;
			transition: all 0.1s ease-in-out;
			padding:4px;
		}
		.sponsorLogo:hover {
			filter: grayscale(0) brightness(1);
			border-radius: 4px;
		}
	}
</style>
