---

---

<article id="subtitle">
	<p>
		"Participa con tu escuela, colegio o liceo y gana un laboratorio solar para tu establecimiento".
	</p>
	<a
		href="https://www.notion.so/crcamposn/Bases-ec-2025-1f4938ab02058076a8aec6823bdbfb13?pvs=4"
		target="_blank"
		rel="noopener noreferrer">revisa las bases</a
	>
</article>
<style>
	#subtitle {
		max-width: 600px;
		/* margin: 2rem; */
		padding: 1rem;
		color: #fff;
		/* background-color: #00000034; */
		border-radius: 2rem;
		display: contents;

		p {
			color: #777;
			font-style: italic;
			font-size: 1.5rem;
			max-width: 480px;
			background: linear-gradient();
			padding: 1rem 2rem;
			font-family:
				Ubuntu,
				Oxygen,
				Roboto,
				Cantarell 'Open Sans',
				'Helvetica Neue',
				sans-serif;
		}
		a {
			font-size: 1.2rem;
			color: #0ccfc2;
			text-decoration: none;
			text-shadow: 1px 1px 20px #0ccfc2;
			border-radius: 100px;
			border: #0ccfc2 solid 2px;
			padding: 8px;
			filter: brightness(0.6) blur(0.6px);
			transition: all 250ms ease;
		}
		a:hover {
			filter: brightness(1.2) blur(0);
		}
	}
	@media screen and (max-width: 800px) {
		#subtitle {
			p {
				font-size: 1rem;
				padding: 8px;
			}
			a {
				font-size: 0.9rem;
				border-width: 1px;
			}
		}
	}
</style>
