---

---

<article id="subtitle">
	<p>
		"Participa con tu escuela, colegio o liceo y gana un laboratorio solar para tu establecimiento".
	</p>
	<a
		href="/rules/2026"
		target="_self"
		rel="noopener noreferrer">bases del concurso</a
	>
	<a
		href="/plan/"
		target="_self"
		rel="noopener noreferrer">plan de acción energético</a
	>
</article>
<style>
	#subtitle {
		max-width: 600px;
		/* margin: 2rem; */
		padding: 1rem;
		color: #fff;
		/* background-color: #00000034; */
		border-radius: 2rem;
		display: contents;

		p {
			color: #d5bbdf;
			font-style: italic;
			font-size: 1.5rem;
			max-width: 480px;
			background: linear-gradient();
			padding: 1rem 2rem;
			font-family:
				Ubuntu,
				Oxygen,
				Roboto,
				Cantarell 'Open Sans',
				'Helvetica Neue',
				sans-serif;
		}
		a {
			font-size: 1.2rem;
			min-width: 250px;
			text-align: center;
			color: #eed4ee;
			/* background: #b160d683; */
			text-decoration: none;
			border-radius: 100px;
			border: #eed4ee solid 2px;
			padding: 8px;
			filter: brightness(0.8);
			transition: all 250ms ease;
			margin-top: 1rem;
		}
		a:hover {
			filter: brightness(1.2) blur(0);
			background-color: var(--primary);
		}
	}
	@media screen and (max-width: 800px) {
		#subtitle {
			p {
				font-size: 1rem;
				padding: 8px;
			}
			a {
				font-size: 0.9rem;
				border-width: 1px;
			}
		}
	}
</style>
