---
import ecMotion from '../assets/ec-loop.svg';
import { Challenge } from '../models/challenge';
import Flare from './Flare.astro'
const challenge = new Challenge(new Date(2025,6,5,10),8)
---

<div id="container">
	<main>
		<Flare/>
		<section id="hero">
			<a href="http://tinyurl.com/ec-inscripcion"
				><img src={ecMotion.src}  alt="EnergyChallenge" /></a
			>
			<h1 class="year">
				{challenge.year}
			</h1>
			<form action="submit">
				<input type="text">
				<button>
					inscripción hasta el {challenge.subscribeLimit}
				</button>
			</form>

		</section>
	</main>

	
</div>

<style is:inline>

	
	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}
	
	main {
		background-color: #010101;
		color: #fff;
		height: 100%;
		display: flex;
		justify-content: center;
	}

	#hero {
		position: relative;
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
		z-index: 0;
		img{
			z-index: 3;
			width: min(200%,600px);
			filter: blur(0px);
			animation: logoLaunch 3s ease-in-out 1s;
		}
		@keyframes logoLaunch {
			from{
				filter:blur(10px);
			}
			to{
				filter:blur(0);
			}
			
		}
		h1.year {
			position: relative;
			font-size:16rem;
			margin-top: -7rem;
			top:-10rem;
			align-self:center;
			z-index: -1;
			color: #000;
			filter: blur(2px) opacity(.5);
			animation: yearGhost 3s ease-in-out 1s;	
		}
		@keyframes yearGhost {
			from{
				filter:blur(0px) opacity(1);
			}
			to{
				filter:blur(3px) opacity(.5)
			}
			
		}
	}

</style>
