---
import ContentPage from "../../components/ContentPage.astro";
import records from '../../assets/records.json'
import { ctx } from "../../models/ChallengeContext";
---

<ContentPage>
<article class="rules-article">

    <h2>Registro 2022-2025</h2>
    <p>Este registro contiene todos los establecimientos desde el 2022, que han implementado un <a class="innerlink" href="/plan">Plan de Acción</a>.</p>
    <p>Si implementaste este plan de acción el <bold>{ctx.year-1}</bold>, puedes presentar los consumos del año <bold>{ctx.year-2}</bold>.
        <h3>Los Participantes </h3>
        <table>
    <thead>
        <tr>
            <td>establecimiento</td>
            <td class="shrink">comuna</td>
            <td class="shrink">concurso</td>
            <td>puesto</td>
        </tr>
    </thead>
    <tbody>
        {records.map((it)=>(
        <tr>
            <td>{it.establecimiento}</td>
            <td class="shrink">{it.comuna}</td>
            <td class="shrink">{it.concurso}</td>
            <td>{it.rank}</td>
        </tr>))}

    </tbody>
</table>

<p>Escucha el Album EnergyChallenge 2026</p>
<a href="https://suno.com/playlist/120047db-7904-4e6a-b25d-a4b885a57bae" class="button" target="_blank" rel="noopener noreferrer" style="display: flex;align-items: center;gap:12px">
    <img height="100" src="https://cdn2.suno.ai/80fa45d4-3cae-47cd-b09b-3f7595ff296d_09d37125.jpeg"/>
    <p>
        #ec💿 
                </p>
                <p>
                El Desafío de Energía
                </p>
            </a>

</article>
</ContentPage>