---
import { ClientRouter } from 'astro:transitions'
import Flare from '../components/Flare.astro'
---

<!doctype html>
<html lang="es-CL">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/ec-ico.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="keywords"
			content="Concurso,Valparaíso,Eficiencia Energética, Plan de Buenas Prácticas, Escuelas, Colegios, Liceos"
		/>
		<meta
			name="description"
			content="Inscribe tu colegio al concurso #ec25 y gana un laboratorio solar para tu colegio"
		/>
		<meta name="author" content="ccamposn@minenergia.cl" />
		<title>#ec25</title>
		<ClientRouter />
	</head>
	<body>
		<div id="container">
			<Flare />
			<slot />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		box-sizing: content-box;
		padding: 0;
	}
	#container {
		width: 100vw;
		min-height: 100vh;
		background: linear-gradient(180deg, #1a241c, #0b0f1d);
		position: absolute;
		display: flex;
		justify-content: center;
		z-index: 0;
	}
</style>
