.egHeader {
  background-color: rgba(0, 0, 0, 0.144);
  > #logo {
    width: 80px;
    height: 80px;
  }
  > .navbar {
    > ul {
      display: flex;
      gap: 2rem;
      text-decoration: none;
      list-style: none;
      padding-top: 1rem;
    }
  }
}
